{% extends 'base.html' %}

{% block header %}
    <h1 class="text-3xl font-bold tracking-tight text-gray-900">Acessar o Sistema</h1>
{% endblock %}

{% block content %}
<div class="bg-white p-8 rounded-lg shadow-md max-w-md mx-auto">
    <form method="POST" action="{{ url_for('main.login') }}">
        <div class="space-y-6">
            <div>
                <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
                <div class="mt-2">
                    <input id="email" name="email" type="email" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
            </div>

            <div>
                <label for="senha" class="block text-sm font-medium leading-6 text-gray-900">Senha</label>
                <div class="mt-2">
                    <input id="senha" name="senha" type="password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
            </div>
        </div>

        <div class="mt-8">
            <button type="submit" class="w-full rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Entrar</button>
        </div>
    </form>
    <p class="mt-6 text-center text-sm text-gray-500">
        Não tem uma conta?
        <a href="{{ url_for('main.cadastro') }}" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Cadastre-se aqui</a>
    </p>
</div>
{% endblock %}